<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bộ đề kiểm tra</title>
    <link rel="icon" href="https://s3-alpha-sig.figma.com/img/6492/77d5/fd1f274bd190142da3e38657132dcef1?Expires=1732492800&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=F8ez~jYlX1HrKhB~~KNnTyCEYnAHPEIuqeN0Y6sBzeeH5Wo5ksWREymb9OAnUfYbu5gEGDgyRudxwoPt5Z5sgsP78gCemGnqIRfNecr6QJ6BegZaUi9lGX~6GUPNmV~m2plb~xTDxPu4R8mTPicn2se~AuKIyu-aXPAs82YKdY1~WVjXARDZLEtMIVfchpopYNl3OIDILu-YNxuQxwDQhrFkhGoYz3bkZpR7~94~XXXwU~E5qCLKxYV9~uPHT2t3r6mp0yabU8VfX5y2vZRq4-wP2SVx-LYhXlsbJ1i~Han-IIndo64pege0I8x~RnFs1tYa96rZs4jDPJBTWn8Z7g__" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/public/style.css">
</head>
<body>
    <div class="container mt-5 d-flex">
        <!-- Phần câu hỏi -->
        <div class="questions-section flex-grow-1">
            <h1 class="text-center mb-4">Bộ đề kiểm tra</h1>

            <!-- Các phần câu hỏi -->
            <div id="multiple-choice-questions" class="mb-5">
                <h2>Phần I - Trắc nghiệm</h2>
            </div>
            <div id="true-false-questions" class="mb-5">
                <h2>Phần II - Đúng/Sai</h2>
            </div>
            <div id="short-answer-questions">
                <h2>Phần III - Trả lời ngắn</h2>
            </div>
        </div>
        
        <div class="answers-section">

        </div>
    </div>
    <script src="/public/script.js"></script>
</body>
</html>
